@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
    direction: rtl;
    transition: all .5s;
    font-family: 'cairo';
    font-family: "Cairo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.habit {
    animation-name: habit-move;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;

    position: relative;
    animation-direction: alternate;
        background-position:bottom;


}

@keyframes habit-move {
    0% {
        background-size: 110%;
    

       
    }
    100%{
               background-size: 140%;

     
    }
}