@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    direction: rtl;
    transition: all .5s;
    font-family: 'cairo';
    font-family: "Cairo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;
}

.habit-name{
    animation-name: habit-move;
    animation-duration: 1.5s; 
    animation-iteration-count:infinite;

    position: relative;
    animation-direction: alternate;
   
    
}
@keyframes habit-move {
    0%{
        border-radius:1.3rem ;
    }
    50% {
            border-radius: 50%;


  }
      100% {
            border-radius: 50%;


  }
}
